@import "../../components/page/page.css";
@import "../../components/footer/footer.css";
@import "../../components/header/header.css";
@import "../../components/logo/logo.css";
@import "../../components/information/information.css";

td select,
    td input {
      width: 150px;
    }

    #diagram td {
      vertical-align: bottom;
      text-align: center;
      padding: 10px;
    }

    #diagram div {
      margin: auto;
    }