.logo {
    position: relative;
    width: 75px; /* Подставь свои размеры */
    height: 75px;
    display: flex;
    flex-direction: row;
    margin: 10px 15px 10px;
}

.logo__static {
    width: 75px; /* Подставь свои размеры */
    height: 75px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s;
}

.logo__animate {
    width: 75px; /* Подставь свои размеры */
    height: 75px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s;
}